body {
  font-family: Arial san-serif;
  background-color: blue; 
}
h1 {
  font-size: 38px; 
  }

h2 { 
  font-size: 32px;
  }
  
.ingredients-list {
    list-style: square inside;
  }
  
ol {
  list-style: lower-greek inside;
}

header > img {
  width: 100px;
}